.category-card {
  background-color: rgba(0, 0, 0, 0.5);
  /* border: 0.1rem solid black; */
  box-sizing: border-box;
  height: 40vh;
  position: relative;
  width: 13vw;
  z-index: 1;
}

.category-card:hover {
  cursor: pointer;
  transform: translateY(-0.5rem);
}

.category-card::after {
  background: url('../../../assets/borderGoldDouble.png') center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.category-card > h2 {
  letter-spacing: 0.05rem;
  margin-top: 4rem;
  text-shadow: 2px 2px 2px white;
  text-transform: uppercase;
}
