.dashboard-container {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.dash-side-menu {
  align-items: center;
  background-color: rgb(87, 99, 111);
  box-shadow: 8px 0px 13px -8px #000000;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1rem;
  -webkit-box-shadow: 8px 0px 13px -8px #000000;
  width: 10%;
}

.dash-user {
  display: flex;
  gap: 1rem;
  height: fit-content;
  margin-bottom: 5vh;
}

.dash-user img {
  border-radius: 50%;
  width: 50%;
}

.dash-sections {
  display: flex; 
  flex-direction: column;
  width: 100%;
}

.dash-section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  text-align: left;
}

.dash-section-title {
  margin-bottom: -0.5vh;
}

.dash-section .nav-link {
  font-size: 0.8rem;
  margin: 0 0 0 1vw;
}

.dash-section a {
  color: white;
  text-decoration: none;
}


.dash-content-container {
  background-color: slategray;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 88%;
  z-index: -1;
}