.contactme-container input[type="text"],
.contactme-container input[type="email"],
.contactme-container textarea {
  border-radius: 0 0 0 10px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid lightgray;
  box-shadow: none;
  font-size: 1.1rem;
  margin-bottom: 22px;
  outline: none;
  padding: 0.5rem 1rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
  -webkit-box-shadow 0.15s ease-in-out;
  width: 80%;
}

.contactme-container input[type="text"]:focus,
.contactme-container input[type="email"]:focus,
.contactme-container textarea:focus {
  border-bottom: 1px solid #4285f4;
  box-shadow: 0 1px 0 0 #4285f4;
}

.contactme-container form button:hover {
  background-color: #1f2235;
  transition: all ease 1s;
  border: 3px solid #1f2235;
}

.contactme-container button .load {
  width: 100%;
}

.contactme-container button .load img {
  width: 60px;
  color: green;
}