.register-container span {
  background: #181818;
  box-sizing: border-box;
  color: transparent;
  font-style: italic;
  height: 100%;
  margin: 0;
  padding: 2rem;
  position: relative;
  text-align: justify;
  transition: 1.5s;
  width: 100%;
}

.script-container {
  box-sizing: border-box;
  display: grid;
  gap: 0.2vw;
  grid-template-columns: 49.9vw 49.9vw;
  grid-template-rows: 24.8vw 24.8vw;
}

.script-container img {
  border-radius: 0.5rem;
  display: none;
  height: 100%;
  width: 100%;
  transition: 1.5s;
}

.register-container span:hover {
  color: white;
  transition: 0.6s;
}

.register-container span:nth-of-type(even) {
  align-items: center;
  display: flex;
  /* margin: auto 0 0 0; */
  padding-left: 16rem;
  text-align: justify;
}

.register-container span:nth-of-type(odd) {
  align-items: center;
  display: flex;
  padding-right: 16rem;
  text-align: justify;
}

.register-container #register-back-pic-left {
  padding: 3rem 15rem 3rem 1.5rem;
}

.register-container #register-back-pic-right {
  padding: 3rem 1.5rem 3rem 15rem;
}