.register-container > span {
  background: #181818;
  display: block;
  height: calc(20vw - 00.1vw);
  position: relative;
  transition: 1.5s;
  width: calc(20vw - 00.1vw);
}

.register-container > span:hover {
  background: rgb(106, 0, 255);
  transition: 0s;
}