.home-picture {
  margin-top: 125px;
  overflow: hidden;
  width: fit-content;
}

.home-picture img {
  width: 110%;
}

.home {
  align-items: center;
  border: 0.25rem solid black;
  display: flex;
  flex-direction: column;
  font-size: 2.5rem;
  margin: auto;
  margin-top: 25vh;
  width: 20vw;
}

.home a {
  border-top: 0.05rem solid black;
  color: black;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

