.home-category-cards {
  display: flex;
  gap: 3rem;
  justify-content: center;
  margin-top: -10vh;
  position: absolute;
  text-align: center;
  transition: 1s;
  width: 100%;
}


/* 
#events::before {
  background: url('../../../assets/calendarPurple.png') center center;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 90%;
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

#give {
  background: url('../../../assets/shine.png') center center;
  background-size: cover;
}

#give::before {
  background: url('../../../assets/handshakeDrawing.png') center center;
  background-repeat: no-repeat;
  background-position: center 20vh;
  background-size: 90%;
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

#getInvolved::before {
  background: url('../../../assets/workingCogsStickFigures.png') center center;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 90%;
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

#testimonies {
  background: url('../../../assets/clouds.png') center center;
  background-size: cover;
}

#testimonies::before {
  background: url('../../../assets/mountainBlueBottom.png') center center;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}
*/