.give-container {
  align-items: center;
  display: flex;
  gap: 10vw;
  height: 100vh;  
  justify-content: center;
  text-align: center;
}

.users-give, .sponsors-form {
  border: 0.05rem solid black;
  padding: 1rem 3rem;
}

.users-give {
  height: fit-content;
}

.sponsors-form {
  position: relative;
}

.users-give > h2, .sponsors-form .give-subtitle  {
  margin: 0 0 4vh;
}

.give-opt {
  margin-top: 2vh;
}


.give-container form .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 2vh;
}

.give-container .sponsor-name {
  display: flex;
  justify-content: space-around;
}

