.give-container input, .give-container textarea, .give-container select {
  color: black;
  border-radius: 0.5rem;
}

.users-give,
.sponsors-form {
  background-color: rgb(91, 114, 137);
}

.give-container form .form-group {
  display: flex;
  flex-direction: column;
}

.sponsors-form button {
  background-color: white;
  border-radius: 0.3rem;
  color: black;
  margin: 2vh 0;
  padding: 0.3rem 2rem;
}

.sponsors-form button:disabled {
  background: rgba(211, 211, 211, 0.425);
  color: slategray;
  cursor: default;
}