.invoice-container {
  display: flex;
  flex-direction: column;
  margin: 5vh auto;
  width: fit-content;
}

h1 {
  align-self: flex-end;
  font-size: 4rem;
  text-transform: uppercase;
}

.invoice-top {
  display: flex;
  margin-bottom: 10vh;
}

.bill-to > h2,
form .title {
  background-color: black;
  color: white;
  text-transform: uppercase;
}

form .title {
  display: flex;
  justify-content: space-around;
  width: 30vw;
}

.invoice-description > .invoice-bottom {
  width: 100%;
}

.bill-to {
  margin-right: 15rem;
}

.entries {
  border: 0.1rem solid red;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
  width: 30vw;
}

.invoice-description .title > h2:first-child {
  width: 30vw;
}

.invoice-details {
  display: grid;
  grid-template-columns: 38.5vw 10vw 12vw 15vw;
  grid-template-rows: repeat(4, 5vw);
  grid-template-areas: 'description qty unitPrice amount', 'comments comments total total',
    'comments comments paymentApplied paymentApplied', 'comments comments balanceDue balanceDue';
  padding: 0.2rem 0;
  background-color: black;
  justify-content: space-between;
}

#description {
  grid-area: description;
}

#qty {
  grid-area: qty;
}

#unitPrice {
  grid-area: unitPrice;
}

#amount {
  grid-area: amount;
}

#comments {
  grid-area: comments;
}

#total {
  grid-area: total;
}

#paymentApplied {
  grid-area: paymentApplied;
}

#balanceDue {
  grid-area: balanceDue;
}

.invoice-details > div > input {
  border-style: none;
  height: 100%;
  width: 100%;
}

.invoice-details > div:first-child > input:focus {
  outline: none;
}

.no-border {
  border: none;
  justify-content: space-around;
}
