.cwatRegister {
  padding-top: 13vh;
  text-align: center;
}

.cwatRegister h1 {
  background: -webkit-linear-gradient(rgb(0, 255, 150), rgb(160, 0, 255));
  font-weight: 100;
  margin-bottom: 2rem;
  text-shadow: 1px 13px 5px #aba8a8;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cwatRegister h2 {
  font-weight: 100;
  margin-bottom: 1rem;
}

.cwat-contact-info {
  display: flex;
  gap: 14vw;
  justify-content: center;
  margin-left: -4vw;
  position: relative;
  text-align: left;
  width: 100%;
}

.cwat-contact-info .inputbox {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.cwatRegister input,
.cwatRegister textarea {
  background: transparent;
  border-radius: 0.1rem;
  outline: 0.05rem solid black;
  padding: 0.2rem 0.5rem;
}

.cwat-questions-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: left;
  position: relative;
  width: 100%;
}

.cwat-questions-container h2 {
  align-self: flex-start;
  margin-left: 20vw;
}

.cwat-questions-container .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  width: 60vw;
}

.cwat-questions {
  margin-right: 2rem;
  text-align: left;
}

.cwat-questions .form-group {
  display: flex;
  flex-direction: column;
}

.cwat-pPlan {
  height: 34vh;
  position: absolute;
  right: -3vw;
  /* top: 14vh; */
  width: 22vw;
}

.cwat-qrcode {
  bottom: 1vh;
  position: absolute;
  right: 1rem;  
  width: 15vw;
}

.cwatRegister hr {
  border-color: transparent;
  margin: 1rem 0;
}

.cwat-bg-left {
  background: linear-gradient(to left, #7678fe65, 30%, #44ffe38e, 70%, white);
  height: 30vh;
  right: 0;
}

.cwat-bg-right {
  align-items: center;
  left: 0;
  background: linear-gradient(to right, #7678fe65, 30%, #44ffe38e, 60%, white);
  height: 20vh;
}

.cwat-input-background {
  display: flex;
  bottom: 0;
  position: absolute;
  z-index: -1;
  width: 100%;
}

.cwatRegister button {
  background: linear-gradient(rgb(0, 255, 240), 60%, #1734f1);
  border: none;
  border-radius: 0.3rem;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
  margin: 3vh 0 10vh;
  padding: 0.1rem 0.8rem;
}

.cwatRegister button:disabled {
  background: rgba(211, 211, 211, 0.425);
  color: rgb(158, 177, 196);
  cursor: default;
}

.cwat-shalom-logo {
  bottom: 1rem;
  left: 1rem;
  opacity: 0.6;
  position: absolute;
  width: 5vw;
}

