@import url('https://fonts.googleapis.com/css2?family=Sansita:ital@0;1&family=Share+Tech+Mono&display=swap');

.about-us-container {
  display: flex;
  flex-direction: column;
  margin: 200px auto 150px auto;
  text-align: center;
}

.meet-members {
  margin: 0 auto 0 auto;
  width: 60vw;
}

.meet-members h1 {
  font-size: 36px;
  letter-spacing: 0.1rem;
  margin-bottom: 100px;
}

.about-each-member {
  align-items: center;
  background-color: black;
  display: grid;
  grid-row-gap: 3rem;
  grid-template-columns: 30vw 30vw;
  justify-content: center;
}

.img-box {
  display: flex;
  background-color: white;
  border: 0.25rem solid black;
  height: 100%;
  margin: 0 auto 0 auto;
  width: 26vw;
}

.img-box img {
  width: 100%;
}

.about-info {
  display: flex;
  align-items: center;
  background-color: white;
  border: 0.25rem solid black;
  font-size: 0.9rem;
  height: 100%;
  letter-spacing: 0.06rem;
  padding: 0 1.5rem;
}
