.footer-container {
  /* background: radial-gradient(rgb(0, 0, 212), 60%, rgb(2, 0, 117)); */
  background-color: rgb(0, 0, 0);
  border-top: 0.02rem solid rgba(255, 255, 255, 0.686);
  color: white;
  font-weight: 500;
  position: relative;
  width: 100%;
}

.footer-container .col {
  display: flex;
  justify-content: right;
  margin-right: 2rem;
  height: 0.5vh;
}

.footer-container .col i {
  color: white;
  padding: 7px;
}

.footer-container .col i:hover {
  transform: scale(1.5);
}

.footer-sections {
  display: flex;
  justify-content: center;
  margin: 15px 0 0 0;
  text-align: left;
}

.footer-section {
  display: flex;
  flex-direction: column;
  padding: 0 40px;
}

.footer-section h4 {
  margin-bottom: 0.8rem;
}

.footer-section h5 {
  margin-bottom: 0.5vh;
}

.footer-section p {
  font-size: 0.8rem;
  margin-bottom: 1vh;
}

.footer-container em {
  color: transparent;
  height: 0.5vh;
  font-size: 0.8rem;
  margin: 0 0 0 0.5rem;
}

.footer-est-logo {
  bottom: 1rem;
  left: 2rem;
  position: absolute;
  width: 3.5vw;
}

.privacy-policy {
  color: white;
  font-size: 0.7rem;
  font-style: italic;
  font-weight: 100;
  margin-left: 1rem;
  text-decoration: none;
}