.login-container .signin {
  align-items: center;
  background-color: rgb(45, 45, 45);
  border-radius: 0.4vw;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  color: white;
  display: flex;
  justify-content: center;
  padding: 2vw;
  position: absolute;
  width: 30vw;
}

.login-container .signin .content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
}

.login-container h1 {
  color: white;
  letter-spacing: 0.05rem;
  margin-bottom: 2vw;
  text-transform: uppercase;
}

.login-container form{
  display: flex;
  flex-direction: column;
  gap: 2vh;
  width: 100%;
}

.login-container .inputbox {
  display: flex;
  font-size: 1rem;
  height: 13vh;
  justify-content: center;
  position: relative;
  width: 100%;
}

.login-container form input {
  background-color: rgb(82, 82, 82);
  border: none;
  border-radius: 0.5vw;
  box-sizing: border-box;
  color: white;
  font-size: 1rem;
  left: 0;
  outline: none;
  padding: 2vw 1.3vw 1vw;
  position: absolute;
  width: 100%;
}

.login-container .signin i:not(button > i) {
  color: #aaa;
  font-style: normal;
  font-size: 1rem;
  left: 0;
  padding: 0.8vw 0.6vw;
  pointer-events: none;
  position: absolute;
  transition: 0.5s;
}

.login-container .signin input:focus:valid ~ i {
  transform: translateY(-0.5vw);
  font-size: 0.8rem;
  color: white;
}

.login-container .alert {
  background-color: rgb(155, 0, 0);
  border: 0.05rem solid white;
  border-radius: 0.5rem;
  bottom: 0;
  color: white;
  margin: auto auto;
  padding: 0.2rem 0;
  position: absolute;
  width: 80%;
  z-index: 5;
}

.login-container .formlinks {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.login-container .formlinks a {
  color: white;
  font-size: 1.1rem;
  letter-spacing: 0.05rem;
  text-decoration: none;
}

.login-container .formlinks a:nth-child(2) {
  color: white;
  font-weight: 600;
  letter-spacing: 0.08rem;
}

.login-container button {
  background-color: white;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.01rem;
  margin-top: 25px;
  padding: 1vw 0;
  width: 100%;
}

