.script-container span {
  background: #181818;
  box-sizing: border-box;
  color: transparent;
  font-style: italic;
  margin: 0;
  padding: 2rem;
  position: relative;
  text-align: justify;
  transition: 1.5s;
  width: 100%;
}


.script-container img {
  border-radius: 0.5rem;
  display: none;
  height: 100%;
  width: 100%;
  transition: 1.5s;
}

.script-container span:hover > img {
  display: block;
  opacity: 0.8;
  transition: 1s;
}

.script-container span:hover {
  color: white;
  transition: 0.6s;
}

.script-container span:nth-of-type(even) {
  align-items: center;
  display: flex;
  padding-left: 15rem;
  padding-right: 3rem;
  text-align: justify;
}

.script-container span:nth-of-type(odd) {
  align-items: center;
  display: flex;
  padding-right: 15rem;
  text-align: justify;
}

.script-container #login-back-pic-left {
  padding: 8rem 14.5rem 8rem 2.5rem;
}

.script-container #login-back-pic-right {
  padding: 8rem 2.5rem 8rem 14.5rem;
}
