.login-container {
  align-content: center;
  align-items: center;
  background: white;
  box-sizing: border-box;
  display: flex;
  /* flex-wrap: wrap; */
  gap: 0.1vw;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100vw;
}

.login-container::before {
  animation: animate-loginForm 15s linear infinite;
  background: linear-gradient(#fff, rgb(106, 0, 255), #fff);
  content: '';
  height: 100%;
  position: absolute;
  width: 100%;
}

.login-container .navbar {
  background-color: black;
  color: white;
}

@keyframes animate-loginForm {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}