@import url('https://fonts.googleapis.com/css2?family=Sansita:ital@0;1&family=Share+Tech+Mono&display=swap');

.navbar {
  background-color: white;
  /* display: flex; */
  /* justify-content: space-between; */
  padding: 10px 0 0 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar-top {
  display: flex;
  flex-direction: row;
}

/* .back-text {
  background: -webkit-linear-gradient(rgba(217, 136, 251, 0.644), rgb(80, 135, 237));
  font-size: 20px;
  justify-content: space-evenly;
  letter-spacing: 0.1em;
  margin: 60px 0 0 0;
  opacity: 0.5;
  position: absolute;
  text-align: justify;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 180px;
  z-index: -1;
} */

.nav-ministry-logo-name {
  display: flex;
  flex-direction: row;
  font-family: 'Sansita', sans-serif;
  /* font-family: 'Share Tech Mono', monospace; */
  font-size: 24px;
  letter-spacing: -1.5px;
  margin-left: 50px;
  width: fit-content;
}

.nav-ministry-logo {
  align-self: flex-end;
  border-right: 3px solid black;
  margin-right: 15px;
  width: 45px;
}

.nav-ministry-name {
  align-self: flex-start;
  color: blue;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.y {
  margin-top: -4px;
  font-size: 32px;
}

.nav-ministry-slogan {
  font-size: 20px;
  text-align: center;
}

.nav-login-register {
  align-self: center;
  display: flex;
  justify-self: flex-end;
  font-size: 20px;
  margin: 0 60px 0 auto;
}

.page-links {
  /* align-self: center; */
  background: repeating-linear-gradient(45deg, #5dbae2 10%, #ebf8e1 50%);
  display: flex;
  font-size: 24px;
  font-weight: bold;
  justify-content: space-around;
  margin: 20px 0 0 0;
  padding-left: 100px;
}

.nav-link {
  margin-right: 15px;
  color: blue;
  letter-spacing: 0.05em;
  text-decoration: none;
}

.page-links:last-child {
  padding-right: 100px;
}

.page-links .nav-link::after {
  content: '\25b6';
  display: inline-block;
  font-size: 12px;
  margin-left: 5px;
  transform: rotate(90deg);
  vertical-align: middle;
}

.no-arrow::after {
  content: none !important;
}
