.cwatRegister-edit {
  margin: 5vh auto;
  text-align: center;
  width: 80%;
}

.content {
  border: 1rem double rgba(0, 0, 0, 0.701);
  -webkit-box-shadow: 0px 3px 0px 2px rgba(0, 0, 0, 0.1), 0px 6px 0px 4px rgba(0, 0, 0, 0.1),
    0px 9px 0px 6px rgba(0, 0, 0, 0.1), 0px 12px 0px 8px rgba(0, 0, 0, 0.1),
    0px 15px 0px 10px rgba(0, 0, 0, 0.1), 0px 18px 0px 12px rgba(0, 0, 0, 0.1),
    0px 21px 0px 14px rgba(0, 0, 0, 0.1), 0px 24px 0px 16px rgba(0, 0, 0, 0.1),
    0px 27px 0px 18px rgba(0, 0, 0, 0.1), 0px 30px 0px 20px rgba(0, 0, 0, 0.1),
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 3px 0px 2px rgba(0, 0, 0, 0.1), 0px 6px 0px 4px rgba(0, 0, 0, 0.1),
    0px 9px 0px 6px rgba(0, 0, 0, 0.1), 0px 12px 0px 8px rgba(0, 0, 0, 0.1),
    0px 15px 0px 10px rgba(0, 0, 0, 0.1), 0px 18px 0px 12px rgba(0, 0, 0, 0.1),
    0px 21px 0px 14px rgba(0, 0, 0, 0.1), 0px 24px 0px 16px rgba(0, 0, 0, 0.1),
    0px 27px 0px 18px rgba(0, 0, 0, 0.1), 0px 30px 0px 20px rgba(0, 0, 0, 0.1),
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  /* padding: 3vh 1vh; */
  margin: 0 auto 13vh;
  position: relative;
  text-align: center;
}

.cwatRegister h1 {
  background: -webkit-linear-gradient(rgb(0, 255, 150), rgb(160, 0, 255));
  text-shadow: 1px 13px 5px #aba8a8;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content h2 {
  font-weight: 600;
}

.cwat-contact-info .inputbox,
.cwat-contact-info .form-group {
  gap: 1rem;
  margin-bottom: 0.5rem;
  width: 100%;
}

.cwatRegister textarea {
  width: 100%;
}

.cwat-contact-info .inputbox {
  display: flex;
}

.cwat-contact-info .form-group input {
  margin-left: 1rem;
}

.cwat-contact-info input {
  width: 60%;
}

.cwatRegister input,
.cwatRegister textarea {
  background: transparent;
  border-radius: 0.1rem;
  outline: 0.02rem solid black;
  padding: 0.2rem 0.5rem;
}

.cwatRegister input:focus,
.cwatRegister textarea:focus {
  background: white;
  border-radius: 0.1rem;
  outline: 0.02rem solid black;
  padding: 0.2rem 0.5rem;
}

.cwat-questions-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.cwat-questions-container .form-group {
  width: 100%;
}

.cwat-bg-left {
  background: linear-gradient(to left, #7678fe65, 30%, #44ffe38e, 70%, white);
  height: fit-content;
  justify-content: center;
}

.cwat-bg-right {
  align-items: center;
  background: linear-gradient(to right, #7678fe65, 30%, #44ffe38e, 60%, white);
  height: fit-content;
}

.cwatRegister button {
  background: linear-gradient(rgb(0, 255, 240), 60%, #1734f1);
  border: none;
  border-radius: 0.3rem;
  color: white;
  cursor: pointer;
  margin: 3vh 0 22vh;
  padding: 0.1rem 0.8rem;
}

.cwatRegister button:disabled {
  background: rgba(211, 211, 211, 0.425);
  color: rgb(158, 177, 196);
  cursor: default;
}

.ticket-info-piece {
  margin-right: 0.5rem;
  font-size: 0.9rem;
}

.check-code-inBtn input {
  margin-left: 0.5rem;
  text-align: center;
}

.check-code-btn {
  align-self: flex-end;
  padding-bottom: 1vh;
}

.check-code-btn button {
  margin: 0;
  white-space: nowrap;
}

.cwat-ticket-option:checked + label {
  background-color: #0c4a6ec5;
  color: white;
}

.cwat-ticket-option:focus + label {
  box-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width))
    var(--tw-ring-color);
  --tw-ring-color: rgb(255 255 255);
  --tw-ring-offset-width: 4px;
  box-shadow: 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color), var(--tw-ring-shadow);
  --tw-ring-offset-color: #7dd4fc;
  box-shadow: 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color), var(--tw-ring-shadow);
}
