table {
  background-color: white;
  border: 0.1rem solid black;
  border-spacing: 0.2rem;
  border-collapse: collapse;
  border-radius: 10px;
  display: block;
  font-size: 0.8rem;
  height: fit-content;
  overflow: auto;
  padding: 2px;
  padding-bottom: 20px;
  text-align: center;
  width: 100%;
}

table::-webkit-scrollbar {
  width: 1em;
}

table::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
  }
  
table::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

thead {
  background: rgb(24, 27, 67);
  border-color: inherit;
  color:white;
  display: table-header-group;
  letter-spacing: 0.05rem;
  vertical-align: middle;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

th {
  display: table-cell;
  font-weight: bold;
  text-transform: uppercase;
}

tr {
  border-color: inherit;
  display: table-row;
  vertical-align: inherit;
}

tr:nth-of-type(even) {
  background: lightgray;
}

th,
td {
  padding: 0.6rem 1.5rem;
  white-space: nowrap;
}

.invoices-table {
  padding: 3rem;
}

.invoices-table .new-invoice-link {
  color: black;
  font-size: 1rem;
  text-decoration: none;
}

.invoices-table .invoice-db-count {
  margin-top: 2rem;
} 

.clickable {
  cursor: pointer;
}

