table {
  background-color: white;
  border: 0.1rem solid black;
  border-spacing: 0.2rem;
  border-collapse: collapse;
  display: block;
  font-size: 0.8rem;
  height: 30vh;
  margin: 10vh auto 0 auto;
  overflow: auto;
  text-align: center;
  width: 70vw;
}

thead {
  border-color: inherit;
  display: table-header-group;
  vertical-align: middle;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

th {
  display: table-cell;
  font-weight: bold;
  text-transform: uppercase;
  border: 0.1rem solid black;
}

tr {
  border-color: inherit;
  display: table-row;
  vertical-align: inherit;
}

td {
  border: 0.05rem solid black;
}

th,
td {
  padding: 0.6rem 1.5rem;
  white-space: nowrap;
}

.invoices-table {
  padding: 3rem;
}

.invoices-table .new-invoice-link {
  color: black;
  font-size: 1rem;
  text-decoration: none;
}

.invoices-table .invoice-db-count {
  margin-top: 2rem;
} 

.clickable {
  cursor: pointer;
}

